.topbar {
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
}

.topbarWrapper {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: brown;
  cursor: pointer;
}
